<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788420646144-mpuat41aqu7ccr12aj5mopk08coa7sol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788420646144-mpuat41aqu7ccr12aj5mopk08coa7sol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788420646144-g7s3d1qjr3m0b8c7ij1kbg5p0e5r4uvf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKUbie_Y5TZqLexHy1kF7QVNoekJNFnX0</string>
	<key>GCM_SENDER_ID</key>
	<string>788420646144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sideApp</string>
	<key>PROJECT_ID</key>
	<string>login-b6259</string>
	<key>STORAGE_BUCKET</key>
	<string>login-b6259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788420646144:ios:1b4b9dcb0c988367f74fe5</string>
</dict>
</plist>